<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fundview.modules.dao.ExpertEvaluationMapper" >
  <resultMap id="BaseResultMap" type="cn.fundview.modules.model.ExpertEvaluation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="expert_id" property="expertId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="satisfaction" property="satisfaction" jdbcType="INTEGER" />
    <result column="timeliness" property="timeliness" jdbcType="TINYINT" />
    <result column="solving_degree" property="solvingDegree" jdbcType="TINYINT" />
    <result column="evalution_tag_ids" property="evalutionTagIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, service_id, expert_id, company_id, create_time, satisfaction, timeliness, solving_degree, 
    evalution_tag_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_expert_evaluation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_expert_evaluation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.fundview.modules.model.ExpertEvaluation" >
    insert into t_expert_evaluation (id, service_id, expert_id, 
      company_id, create_time, satisfaction, 
      timeliness, solving_degree, evalution_tag_ids
      )
    values (#{id,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, #{expertId,jdbcType=INTEGER}, 
      #{companyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{satisfaction,jdbcType=INTEGER}, 
      #{timeliness,jdbcType=TINYINT}, #{solvingDegree,jdbcType=TINYINT}, #{evalutionTagIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.fundview.modules.model.ExpertEvaluation" >
    insert into t_expert_evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="expertId != null" >
        expert_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="satisfaction != null" >
        satisfaction,
      </if>
      <if test="timeliness != null" >
        timeliness,
      </if>
      <if test="solvingDegree != null" >
        solving_degree,
      </if>
      <if test="evalutionTagIds != null" >
        evalution_tag_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="expertId != null" >
        #{expertId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="satisfaction != null" >
        #{satisfaction,jdbcType=INTEGER},
      </if>
      <if test="timeliness != null" >
        #{timeliness,jdbcType=TINYINT},
      </if>
      <if test="solvingDegree != null" >
        #{solvingDegree,jdbcType=TINYINT},
      </if>
      <if test="evalutionTagIds != null" >
        #{evalutionTagIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fundview.modules.model.ExpertEvaluation" >
    update t_expert_evaluation
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="expertId != null" >
        expert_id = #{expertId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="satisfaction != null" >
        satisfaction = #{satisfaction,jdbcType=INTEGER},
      </if>
      <if test="timeliness != null" >
        timeliness = #{timeliness,jdbcType=TINYINT},
      </if>
      <if test="solvingDegree != null" >
        solving_degree = #{solvingDegree,jdbcType=TINYINT},
      </if>
      <if test="evalutionTagIds != null" >
        evalution_tag_ids = #{evalutionTagIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fundview.modules.model.ExpertEvaluation" >
    update t_expert_evaluation
    set service_id = #{serviceId,jdbcType=INTEGER},
      expert_id = #{expertId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      satisfaction = #{satisfaction,jdbcType=INTEGER},
      timeliness = #{timeliness,jdbcType=TINYINT},
      solving_degree = #{solvingDegree,jdbcType=TINYINT},
      evalution_tag_ids = #{evalutionTagIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>